<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">    
            <div class="modal-header">
                <button type="button" class="close" ng-click="onClose()"><span class="glyphicon glyphicon-remove"></span></button>
                <h4>Add Patient</h4>
            </div>
            <div class="modal-body">
                <form role="form" name="addPatientForm" novalidate>
                    <div class="form-group" ng-class="{ 'has-error' : addPatientForm.firstName.$error.required && addPatientForm.$submitted }">
                        <label>First Name</label>
                        <input class="form-control" name="firstName" type="text" ng-model="firstName" required>
                        <span ng-show="addPatientForm.firstName.$error.required && addPatientForm.$submitted" class="help-block">First Name is required.</span>        
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : addPatientForm.lastName.$error.required && addPatientForm.$submitted }">
                        <label>Last Name</label>        
                        <input class="form-control" name="lastName" type="text" ng-model="lastName" required>
                        <span ng-show="addPatientForm.lastName.$error.required && addPatientForm.$submitted" class="help-block">Last Name is required.</span>        
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : addPatientForm.phoneNumber.$error.required && addPatientForm.$submitted }">
                        <label>Phone Number</label>           
                        <input class="form-control" name="phoneNumber" type="tel" ng-model="phoneNumber" required>
                        <span ng-show="addPatientForm.phoneNumber.$error.required && addPatientForm.$submitted" class="help-block">Phone Number is required.</span>     
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : (addPatientForm.eMail.$error.required || addPatientForm.eMail.$error.email) && addPatientForm.$submitted }">
                        <label>Email</label>          
                        <input class="form-control" name="eMail" type="email" ng-model="email" required>  
                        <span ng-show="addPatientForm.eMail.$error.required && addPatientForm.$submitted" class="help-block">Email is required.</span>
                        <span ng-show="addPatientForm.eMail.$error.email && addPatientForm.$submitted" class="help-block">Email is not valid.</span>
                    </div>  
                    <div class="alert alert-danger" ng-show="isFailed">
                        {{msgFailed}}
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success btn-lg btn-block btn-custom" ng-click="onAdd()">Add Patient</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

