<div id="app-form" class="container" ng-controller="CtrlMakeAppoint" ng-init="populateData()">
    <div class="page-header">
        <h2>Make Appointement</h2>
    </div> 
    <div class="row">
		<div class="col-xs-12">
		    <div class="form-wrap">
                <form role="form" name="makeAppointForm" novalidate>
                	<div class="form-group" ng-class="{ 'has-error' : !isPatientValid && makeAppointForm.$submitted }">
			    		<label>Patient</label>
			    		<div class="input-group">
							<input type="text" class="form-control" placeholder="Type Name, Phone number or Email" ng-model="searchTermPatient">
							<span class="input-group-btn">
								<button class="btn btn-default" type="button" ng-click="onSearchPatient()"><span class="glyphicon glyphicon-search"></span></button>	
							</span>
						</div>		
						<span id="helpBlock" class="help-block" ng-if="!isPatientSelected()">Select patient using search bar above.</span>						
					    <div ng-if="isPatientSelected()" style="margin-top:5px;">
				    		<p><strong>{{selectedPatient.firstname}} {{selectedPatient.lastname}}</strong></p>
				    		<p><i class="fa fa-phone"></i> {{selectedPatient.phoneno}}</p>
				    		<p><i class="fa fa-envelope"></i> {{selectedPatient.email}}</p>
					    </div>	
					    <span ng-show="!isPatientValid && makeAppointForm.$submitted" class="help-block">Patient is not selected.</span>		    				    
					</div>
				    <div class="form-group">
				    	<label>Doctor</label>
			            <select class="form-control" ng-change="onDoctorChanged()" ng-options="doctor._id as (doctor.firstname + ' ' + doctor.lastname + ' - ' + doctor.email) for doctor in doctors" ng-model="selectedDocId"></select>
				    </div>	    
				    <div class="form-group" ng-class="{ 'has-error' : makeAppointForm.date.$error.required && makeAppointForm.$submitted }">
				    	<label>Date of visit</label>
			            <input class="form-control" type="text" name="date" ng-model="selectedDate" ng-change="onDateChanged()" bs-datepicker data-autoclose="1" data-min-date='today' required>  
			            <span ng-show="makeAppointForm.date.$error.required && makeAppointForm.$submitted" class="help-block">Date is not selected.</span>   	
				    </div>
				    <div class="form-group">
				    	<label>Reason of visit</label>
   		                <select class="form-control" ng-change="onReasonChanged()" ng-options="reason as reason.lable for reason in reasons" ng-model="selectedReason">
				        </select>
				    </div>
					<div class="form-group" ng-class="{ 'has-error' : !isTimeValid && makeAppointForm.$submitted }">
						<label>Select time</label>
 						<div class = "form-control mousescroll" style="height:250px">
							<table class="table table-hover" ng-click="onTimeSelected($event)">
								<tr ng-class="{success: $index == selectedTimeIndex}" ng-repeat="timeSlot in availTimeSlots">
									<td id="{{timeSlot.id}}">{{getTimeAMPM(timeSlot.time)}}</td>
								</tr>
							</table>					
						</div>
						<span ng-show="!isTimeValid && makeAppointForm.$submitted" class="help-block">Time is not selected.</span>
					</div>
					<div class="form-group">
						<label>Selected time</label>
						<p>{{selectedTimeLabel}}</p>	
					</div>	
					<button type="submit" class="btn btn-success btn-lg btn-block btn-custom" ng-click="onDoneClicked()">Make Appointement</button>	
				</form>
				<hr>
			</div>
		</div>
	</div>
</div>