<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="onClose()"><span class="glyphicon glyphicon-remove"></span></button>
                <h4 class="modal-title">Search User</h4>
            </div>
            <div class="modal-body">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Type Name, Email or Phone number" ng-model="searchTerm">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" ng-click="onSearchUser()"><span class="glyphicon glyphicon-search"></span></button>
                    </span>
                </div>
                <p>&nbsp</p>
                <table class="table table-hover">
                    <tr>
                        <th>Name</th>
                        <th>Phone Number</th>
                    </tr>
                    <tr ng-repeat="result in searchResult" ng-click="onSelect($index)">
                        <td>{{result.firstname + " " + result.lastname}}</td>
                        <td>{{result.phoneno}}</td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="onSelect()">Select</button>
            </div>
        </div>
    </div>
</div>

